/*
CSS for Bubble Under site
*/
body {
font-family: Times News Roman, sans-serif;
background-color: #d6d1bf;
line-height: 125%;
padding: 15px;
}
h1 {
font-family: Times New Roman, serif;
color: white;
background-color: black;
font-size: 300%;
display: inline-block;
line-height: 40px;
}
li {
font-size: small;
}
h2 {
font-size: xx-large;
font-weight: normal;
font-family: Times;
}
p {
font-size: small;
color: black;
}
#tagline p {
font-style: italic;
font-family: Georgia, Times, serif;
font-size: medium;
}
.quote {
font-family: Georgia, Times, serif;
color: #766894;
letter-spacing: -0.05em;
font-style: italic;
}
.list {
font-family: Arial, Helvetica, sans-serif;
font-size: large;
font-weight: bold;
}
a {
font-weight: bold;
}